<div class="form-container">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= error_for(:email, resource) %>
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="form-group">
      <%= f.submit "Resend confirmation email", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="shared-links">  
    <%= render "devise/shared/links" %>
  </div>
</div>