<script>
if( localStorage.getItem("menuGuideDone") == "true" )
  $(document).ready(function(){ $('.menu-swipe-guide-overlay').remove() })
</script>
<div class="menu-block" data-id="<%= menu.id %>" style="display: <%= menu.main ? 'block' : 'none' %>">
  <div class="user-menu">
    <% if menu.recipes.present? %>
        <div class="menu-swipe-guide-overlay">Swipe right to delete —></div>
      <% menu.recipes.each do |recipe| %>
        <div class="recipe">
          <div class="image" style="background-image: url(<%= recipe.images[0].url %>);"></div>
          <div class="title"><%= link_to recipe['title'].downcase.capitalize, recipe_path(recipe) %></div>
          <div class="remove-recipe-btn">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span><%= link_to 'X', menu_recipes_path({recipe_id: recipe}), method: :delete, remote: true %></span>
          </div>
        </div>    
      <% end%>
    <% else %>
    <div class="no-recipes">
        This menu is empty, add recipe <%= link_to "here", recipes_path, class: "btn-link"%>
      </div>
    <% end %>
  </div>
  <div class="menu-controls">
    <% if menu.active_order %>
      <div class="order-controls">
        <%= link_to 'Edit Order', edit_order_path(menu.active_order), class: 'btn btn-primary' %>
        <% if !menu.active_order.ok? %>
          <%= link_to 'Attention', edit_order_path(menu.active_order, {attention: true}), class: 'btn btn-warning' %>
        <% end %>
        <% if menu.active_order.delivery %>
          <div class="delivery-info">
            <span class="title">Delivery: </span>
            <span><%= menu.active_order.delivery.deliver_on %></span>
          </div>
        <% else %>
          <%= link_to 'Set delivery', new_order_delivery_path(menu.active_order), class: 'btn btn-primary set-delivery-btn' %>
        <% end %>
      </div>      
    <% else %>
      <%= link_to 'Order', new_order_path, class: 'btn btn-primary order-btn' %>
    <% end %>
  </div>
</div>