<div class="recipe-filters">
  <!-- <div class="recipe-filters__categories-wrapper"> -->
    <div class="recipe-filters__categories <%= show_all_filters ? 'full-height' : '' %>">
      <% categories.each do |category| %>
        <div class="recipe-filters__categories__category-tag-wrapper">
          <%= link_to recipe_filters(:category, category.id) do %>
            <div class="btn recipe-filters__categories__category-filter <%= active_category(category.id, 'active-category') %>">
              <div class="recipe-filters__categories__category-filter__content">
                <%= image_tag category.icon.to_s, class: "recipe-filters__categories__category-filter__icon" %>
                <!-- <span class="category-filter__title"> -->
                  <%= category.title %>
                <!-- </span>   -->
              </div>
            </div>
          <% end %>  
        </div>
      <% end %>
       <% if params[:category].present? %>
        <div class="recipe-filters__categories__category-tag-wrapper">
          <%= link_to recipe_filters(:category, nil) do %>
            <div class="btn btn-default clear-filters-btn">
              <div class="recipe-filters__categories__category-filter__content">
                <span class="remove-filter">X</span>
                Clear category
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="recipe-filters__search">
        <%= render partial: 'recipes/search_form' %>
      </div>
      <div class="filters">
        <% filters.each do |_filter| %>
          <% if params[:filter] == _filter.id.to_s %>
            <div class="btn <%= active_filter(_filter.id, 'btn-default') %> ingredient-filter">
              <%= link_to recipe_filters(:filter, nil) do %>
                <span class="remove-filter">X</span>
              <% end %>
              <%= _filter.title %>
            </div>
          <% else %>
            <%= link_to recipe_filters(:filter, _filter.id) do %>
              <div class="btn <%= active_filter(_filter.id, 'btn-default') %> ingredient-filter">
                <%= _filter.title %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to recipe_filters(:filter, nil) do %>
          <span class="btn <%= params[:filter].present? ?  'btn-default' : '' %>">Clear filters</span>
        <% end %>
      </div>
    </div>
    <div class="recipe-filters__categories-controlls-wrapper">
      <div class="recipe-filters__categories__category-tag-wrapper">
        <div class="btn recipe-filters__categories__category-filter more-categories-btn">
          <div class="recipe-filters__categories__category-filter__content">
            <%= show_all_filters ? 'Less' : 'More' %>
          </div>
        </div>
      </div>
      <% if show_all_filters %>
        <div class="recipe-filters__categories__category-tag-wrapper">
          <%= link_to clear_filters do %>
            <div class="btn btn-default clear-all-filters">
              <div class="recipe-filters__categories__category-filter__content">
                <span class="remove-filter">X</span>
                Clear All
              </div>
            </div>
          <% end %>
        </div>        
      <% end %>
    </div>
  <!-- </div> -->
  
</div>