<%= form_tag(recipes_path, method: "get", id: 'recipes-search-form') do %>
  <span class="search-icon glass <%= params[:q].blank? ? 'active' : ''%>"></span>
  <span class="search-icon cross <%= params[:q].blank? ? '' : 'active'%>" id="reset-search"></span>
  <%= hidden_field_tag(:category, params[:category]) %>
  <%= hidden_field_tag(:filter, params[:filter]) %>
  <%= text_field_tag(:q, params[:q], id: 'recipes-search-field', placeholder: "Search", autocomplete: 'off') %>
  <button class="btn search-btn">Search</button>
<% end %>