<%= form_tag(recipes_path, method: "get", id: 'recipes-search-form') do %>
  <%= hidden_field_tag(:category, params[:category]) %>
  <% params[:filters].to_a.each do |filter| %>
    <%= hidden_field_tag('filters[]', filter) %>
  <% end %>
  <div class="search-input-wrapper">
    <span class="search-icon glass <%= params[:q].blank? ? 'active' : ''%>"></span>
    <span class="search-icon cross <%= params[:q].blank? ? '' : 'active'%>" id="reset-search"></span>
    <%= text_field_tag(:q, params[:q], id: 'recipes-search-field', placeholder: "Search", autocomplete: 'off') %>  
  </div>
  <button class="btn search-btn">Search</button>
<% end %>