<div class="delivery-address-wrapper">
  <h3>Delivery Information</h3>  
  <%= form_for(@delivery_adress, html: {class: "delivery-address-form"}, remote: true) do |f| %>
    <!-- <Button id="location-picker-sbm" onClick={this.toggleMap.bind(this)}>Map</Button> -->
    <div id="map" className="map_canvas"></div>
    <!-- <div class="fields"> -->
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :destination %>
          <%= f.text_field :address, class:"form-control gmaps-input", placeholder: "Krolewska 17, Warszawa, Polska" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :flat_number %>
          <%= f.text_field :flat_number, class:"form-control", placeholder: "Flat number" %>
        </div> 
      </div>
    <!-- </div> -->
    <%= f.hidden_field :details, id: 'adress-details' %>
    <%= f.hidden_field :default %>
    <%= f.submit "Save", class: "btn btn-sucess" %>
  <% end %>
</div>