<div class="ingredient">
  	<%= hidden_field_tag 'order[ingredients][][id]', rec_ing.ingredient.id %>
  	<%= hidden_field_tag 'order[ingredients][][quantity]', 10%>
	<div class="image"><%= image_tag "ing-default.jpg" %></div>
	<div class="title"><%= rec_ing.ingredient.title %></div>
	<div class="quantity"><%= rec_ing.quantity %></div>
	<div class="total-price">10 ZT</div>
</div>	