<h1>Edit order # <%= @order.id %> for <%= @order.menu.title %> </h1>
<div class="container">
  <%= render partial: 'form_with_search', locals: {submit_btn_text: 'Save' }%>

  <%= link_to_if @order.delivery.present?, 
    "Edit delivery", 
    edit_order_delivery_path({order_id: params[:id], id: @order.delivery.id}), 
    class: "btn btn-primary" %>
  <!-- <div class="live-search">
    <%= render 'live_search' %>
  </div> -->
</div>