<% if ingredients.length > 0 %>
  <div class="swipe-guide-overlay">Swipe right to delete —></div>
  <select
    name='<%= form_name %>'
    class="cs-select cs-skin-elastic possible-ingredients">

      <% ingredients.map do |ing| %>
        <option
          <%= ing.id == selected ? 'selected' : '' %>
          value="<%= ing.id %>"
          data-image="<%= ing.image.url || image_path('ing-default.jpg') %>">
          <%= ing&.title %>
        </option>
      <% end %>
  </select>
<% else %>
  <%= render 'live_search' %>
<% end %>