<select 
  name='<%= form_name %>'
  class="cs-select cs-skin-elastic possible-ingredients">

  <% if ingredients.length > 0 %>
    <% ingredients.map do |ing| %>
      <option 
        <%= ing.id == selected ? 'selected' : '' %>        
        value="<%= ing.id %>"        
        data-image="<%= ing.image.url || image_path('ing-default.jpg') %>">
        <%= ing&.title %>
      </option>
    <% end %>
  <% else %>
    <option value="" disabled>No matches in our databse :( </option>
  <% end %>

</select>