<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag 'full-logo.png', alt:"IziFood.pl" %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= nav_bar_status('/') %>"><%=link_to 'Home', "/" %></li>              
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'My Account', edit_account_path(current_user) %></li>
        <li class="menus-nav-elem">
          <a data-toggle="modal" data-target="#menus-modal" >
            My Menus<span class="badge menus-badge"><%= @menus.count %></span>
          </a>
        </li>
        <li>
          <%= link_to orders_path do |variable| %>
            My Orders<span class="badge menus-badge"><%= @current_user.orders.count %></span>
          <% end %>
        </li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>