<!DOCTYPE html>
<html>
  <head>
    <title>Izifood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    params[:controller] %>
    <%# include_page_css params[:controller] %>
    
    <%= javascript_include_tag 'application' %>
    <script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>    
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <%= javascript_include_tag params[:controller] %>
    <%# include_page_js params[:controller] %>
    
  </head>

  <body>
    <%= render partial: 'layouts/menus_modal' %>
    <%= render partial: 'layouts/navigation' %>
    <main role="main" class="main-wrapper">
      <%= render partial: 'layouts/flashes' %>
      <%= yield %>
    </main>

    <footer>        
      <div class="copyright">© 2017  IziFood.pl - All rights reserved</div>
    </footer>
    <%= yield('scripts') %>
  </body>
</html>
