<!DOCTYPE html>
<html>
  <head>
    <title>Izifood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= include_page_css params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Delete', destroy_user_session_path, method: :delete %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="side-bar">
      <%= render @menus %>
    </div>
    <%= yield %>
  </body>
</html>
