<!DOCTYPE html>
<html>
  <head>
    <title>Izifood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= include_page_css params[:controller] %>
    <%= javascript_include_tag 'application' %>
    <%= include_page_js params[:controller] %>
    <script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>    
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
  </head>

  <body>
    <%= render partial: 'layouts/menus_modal' %>
    <%= render partial: 'layouts/navigation' %>
    <main role="main" class="main-wrapper container-fluid">
      <!-- <div class="container"> -->
        <%= render partial: 'layouts/flashes' %>          
        <%= yield %>
      <!-- </div> -->
    </main>

    <footer>        
      <div class="copyright">© 2017  IziFood.pl - All rights reserved</div>
    </footer>

  </body>
</html>
