<!DOCTYPE html>
<html>
  <head>
    <title>Izifood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= include_page_css params[:controller] %>
    <%= javascript_include_tag 'application' %>
    <!-- Debug here -->
    <%= include_page_js params[:controller] %>
    <script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>    
  </head>

  <body>
    <div class="container-fluid">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">IziFood.pl</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="<%= nav_bar_status('/') %>"><%=link_to 'Home', "/" %></li>              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'My Account', edit_account_path(current_user) %></li>
              <li><a href="#">My Menus</a></li>
              <li><a href="#">My Orders</a></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <content>
        <%= render partial: 'layouts/flashes' %>
        <div class="side-bar">
          <%= render partial: 'menus/menus_toolbar'%>
        </div>
        <%= yield %>
      </content>
    </div> 
  </body>
</html>
